{% extends 'base.html' %}

{% block content %}

<div class="container fade-up">

    <!-- 🔥 TITLE -->
    <h1 class="page-title">Inventory</h1>

    <!-- 🔥 STATS -->
    <div class="stats-wrapper">
        <div class="glass-card stat-card">
            <h3>Total Products</h3>
            <p>{{ total_products }}</p>
        </div>

        <div class="glass-card stat-card">
            <h3>Low Stock</h3>
            <p>{{ low_stock }}</p>
        </div>
    </div>

    <!-- 🔍 SEARCH -->
    <form method="GET" class="search-wrapper">
        <input type="text" name="q" placeholder="Search product..." value="{{ request.GET.q }}">
        <button type="submit">Search</button>
    </form>

    <div class="product-grid">

    {% for p in products %}
    <a href="{% url 'product_detail' p.id %}" class="product-card">

        <h3>{{ p.name }}</h3>
        <p style="color:white; font-size:22px; font-weight:bold; margin:10px 0;">
    ₹{{ p.price }}

         </p> 
        <small>Qty: {{ p.quantity }}</small>

    </a>
    {% endfor %}

</div>

</div>

{% endblock %}