{% extends 'base.html' %}

{% block content %}

<div class="container fade-up">

    <h1 class="page-title">Inventory</h1>

    <div class="product-grid">

        {% for p in products %}
        <a href="{% url 'product_detail' p.id %}" class="product-card">

            <img src="{{ p.image }}" class="product-img">

            <h3>{{ p.name }}</h3>
            <p>₹{{ p.price }}</p>
            <small>Qty: {{ p.quantity }}</small>

        </a>
        {% endfor %}

    </div>

</div>

{% endblock %}